body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: wheat;
}
.main-container{
  display: flex;
  justify-content: center;
  width: 350px;
  min-height: 350px;
  max-height: auto;
  background-color: antiquewhite;
  padding-bottom: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);}
.container{
  text-align: center;
}
input{
  width: 200px;
  height: 25px;
  padding-left: 20px;
  cursor: pointer;
}
 .addItemBtn{
  height: 31px;
  cursor: pointer;
}
.addItemBtn:hover{  
  color: red;
}
.addInput{
 display: flex;
 justify-content: space-between;
 flex-direction: column;
}
.siftRemove{
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 250px;
 min-height: 28px;
 max-height: auto;
 background-color: rgb(253, 253, 253);
 padding-left: 20px;
 cursor: pointer;

}
.remove{
  display: none;
  height: 27px;
  width: 30px;
  border: black;
  cursor: pointer;
}
.siftRemove:hover .remove{
  display: block;
}
.remove:hover{
  /* background: blue; */
  background-color: rgb(202, 195, 195);
  color: red;
}

.removeAll{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 400px;
  cursor: pointer;
}
.removeAllBtn:hover{
  color: red;
}